<h3>SMOKER</h3>

{{#with articles}}
<form action="/articles/:id/edit?">
  title: <input type="text" name="title" placeholder={{this.title}}>
  author: <input type="text" name="author" placeholder={{this.author}}>
  body: <input type="text" name="body" placeholder={{this.body}}> 
</form>
<form action="/articles/:id/edit?" method="PUT">
<input type="submit" value="update">
</form>
{{/with}}
