<h3>smokey</h3>

<form action="/articles/:url_title/edit?">
  title: <input type="text" name="title" placeholder="Title">
  author: <input type="text" name="author" placeholder="Author">
  body: <input type="text" name="body" placeholder="Body"> 
</form>
<form action="/articles/:url_title/edit?" method="POST">
<input type="submit" value="create">
</form>
