<h3>smokey</h3>

<form action="/products/:id/edit?">
  name: <input type="text" name="name" placeholder="Name">
  price: <input type="text" name="price" placeholder="Price">
  inventory: <input type="text" name="inventory" placeholder="Left in Stock"> 
</form>
<form action="/products/:id/edit?" method="POST">
<input type="submit" value="create">
</form>
